#logout {
	float:right;
}

#home {
	float:right;
	position:absolute;
	right:75px;
}

#lblHi {
	position: absolute;
	top:10px;
	left:10px;
}

#lblDocPick {
	position:absolute;
	top:45px;
	left:10px;
}

#docList {
	position:absolute;
	top:45px;
	left:150px;
}

#calHdr {
	position:absolute;
	top:85px;
	left:10px;
}

#cal {
	position:absolute;
	top:125px;
	left:10px;
	width:1260px;
	height:500px;
}

.groove {
	border-style: groove;
	}
	
.row1 {
	border-style: groove;
	float:left;
	height:120px;
	width:120px;
}
